employees
			{
			font-size:80%;
			margin:0.5em;
			font-family: Verdana;
			display:block;
			}
employee {
			display:block;
			border: 1px solid silver;
			margin:0.5em;
			padding:0.5em;
			background-color:whitesmoke;
			}
id {
	display:block;
	font-weight:bolder;
	text-align:center;
	font-size:30px;
	background-color: #0c72c6;
	color: white;

	}
id, name, salary {
								display:block;
								text-align: left;
								}
id {
	color:yellow;
	text-decoration: underline ;
	font-weight:bolder;
	font-size:20px;
	}
name {
	color:green;
	}
salary {
	color:purple
	}